/*top of the page, navigation bar*/
nav {
    
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 20px;
}

.nav {
    display: flex;
    background-color:  rgb(184, 174, 162);
    padding: 0.5rem;
    border-radius: 6px;
    justify-content: space-around;
}


div {
    justify-content: center;
    display: flex;
}

li {
  padding: 0.5rem;
}

#to-top-menu {
  position: fixed;
  bottom: 80px;
  right: 80px;
  display: inline-flex;
  align-items: right;
  justify-content: center;
}

/*main content of the Resume*/

body {
  background-color: rgb(84, 84, 123);
  font-family: "Times New Roman", Times, serif;
}

main {
    display: grid;

}a:hover {
    background-color:  rgb(184, 174, 162);
    color: rgb(184, 174, 162);
    margin: 20xp;
}



h2,h4 {
  color: whitesmoke;
}

p{
  color: whitesmoke;
}

li,
ul {
  padding: 0.5rem;
  color: whitesmoke;
}

section {
  border-radius: 15px;
  margin: 20px;
  padding: 5px;
  background-color: rgb(128, 128, 167);
}

/*footer and forms*/

footer {
  background-color: rgb(128, 128, 167);
  border-radius: 15px;
  margin: 20px;
  padding: 5px;
}

* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

